
<head> 
    <title> Foodfy </title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <div class="menu_container">
            <img class="header_home_img" href="FoodfyHome" src="/logo.png" alt=" Logo Foodfy "> <a class="header_link" href="/about"> Sobre </a> <a class="header_link" href="/recipes"> Receitas </a> </div>
    </header>

{% block content %} {% endblock %}

<body>