<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Início </title>
    <link rel="stylesheet" href="/style/Style.css">
    <link rel="icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon" />
</head>

<body>
    <header>


        <div>
            <nav class="links">
                <a href="Index.html">
                    <img class="favicon_body" src="/assets/Twitter Rocket image.jpg" width="50px" alt=" Link Index Page ">
                </a>
                <a class="sobre" href="About.html"> Sobre </a>
                <a class="conteudos" href="Content.html"> Conteúdos </a>
                <a class=" comunidade " href="https://discordapp.com/invite/gCRAFhc "> Comunidade </a>
                <a class=" email " href="mailto:oi@rocketseat.com.br "> Email </a>
                <a class=" telefone " href="tel:+5547992078767 "> Telefone </a>
                <a class=" twitter " href="https://twitter.com/rocketseat " target="_blink"> <img src="/assets/twitterRS.svg " alt=" Link Twitter Rocketseat "> </a>
                <a class=" instagram " href="https://www.instagram.com/rocketseat_oficial/" target="_blink"> <img src="/assets/instagramRS.svg" alt="Link Instagram Rocketseat"> </a>
                <a class=" youtube " href="https://www.youtube.com/rocketseat"> <img src="/assets/youtubeRS.svg" alt="Link Youtube Rocketseat"> </a>
            </nav>
        </div>

    </header>

    <main>
        <div class="logo_container">
            <img class="main_logo " src="/assets/Twitter Rocket image.jpg" alt="logo rocketseat">
        </div>

        <footer class="footer">
            <div class="courses_container">
                <div class="Starter">
                    <img class=" starter_img " src="/assets/starter.svg" alt="logo starter">
                    <h2 class="starter_name"> starter </h2>
                    <p class="starter_text">
                        Cursos 100% online para você dar o próximo passo na sua evolução como programador. E o melhor, de graça!</p>
                    <a class="starter_button" href="https://rocketseat.com.br/starter"> Garantir meu acesso</a>
                </div>

                <div class="Bootcamp">
                    <img class="bootcamp_img" src="/assets/bootcamp.svg" alt="logo bootcamp">
                    <h2 class="bootcamp_name"> Bootcamp </h2>
                    <p class="bootcamp_text">
                        Treinamentos imersivos para dominar as tecnologias mais modernas no menor tempo possível.</p>
                    <a class="bootcamp_button" href="https://rocketseat.com.br/gostack"> Garantir meu acesso</a>
                </div>
            </div>
        </footer>
    </main>



</body>

</html>