<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sobre </title>
    <link rel="stylesheet" href="/style/Style.css">
    <link rel="icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon" />
</head>

<body>

    <header>
        <div class="links">
            <a href="Index.html"><img class="favicon_body" src="/assets/Twitter Rocket image.jpg" width="50px" alt=" Link Index Page "></a>
            <a class="sobre" href="About.html"> Sobre </a>
            <a class="conteudos" href="Content.html"> Conteúdos </a>
            <a class=" comunidade " href="https://discordapp.com/invite/gCRAFhc "> Comunidade </a>
            <a class=" email " href="mailto:oi@rocketseat.com.br "> Email </a>
            <a class=" telefone " href="tel:+5547992078767 "> Telefone </a>
        </div>
    </header>

    <section>
        <h1 class="title_enterprise">
            Rocketseat
        </h1>
        <img class="about_logo" src="/assets/Twitter Rocket image.jpg" alt="logo rocketseat">
        <h3 class="description">
            Mais do que uma plataforma de educação em tecnologia, uma comunidade incrível de devs em busca do próximo nível
        </h3>

        <ul class="technologies">
            <li class="javascript"> Javascript </li>
            <li class="nodejs"> NodeJs </li>
            <li class="reactjs"> ReactJs </li>
            <li class="reactnative"> ReactNative </li>
        </ul>
    </section>

    <footer class="footer_social_medias">
        <a class="footer_twitter" href="https://twitter.com/rocketseat" target="_blink"> <img src="/assets/ícone twitter.png" width="30px" alt="Acesso Twitter Rocketseat"> </a>
        <a class="footer_instagram" href="https://www.instagram.com/rocketseat_oficial/" target="_blink"> <img src="/assets/ícone instagram.png" width="30px" alt="Acesso instagram Rocketseat"> </a>
        <a class="footer_github" href="https://github.com/rocketseat-education" target="_blink"> <img src="/assets/github_icon.png" width="30px" alt="Acesso Twitter Rocketseat"> </a>
        <a class="footer_youtube" href="https://www.youtube.com/rocketseat"> <img src="/assets/ícone youtube.png" width="30px" alt="Acesso instagram Rocketseat"> </a>
        <a class="twitter_name" href="https://twitter.com/rocketseat" target="_blink"> Twitter </a>
        <a class="instagram_name" href="https://www.instagram.com/rocketseat_oficial/" target="_blink"> Instagram </a>
        <a class="github_name" href="https://github.com/rocketseat-education" target="_blink"> Github </a>
        <a class="youtube_name" href="https://www.youtube.com/rocketseat" target="_blink"> Youtube </a>
    </footer>

</body>

</html>