<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Conteúdos </title>
    <link rel="stylesheet" href="/style/Style.css">
    <link rel="icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header>


        <nav>
            <ul class="links">
                <li>
                    <a class="favicon_body" href="/views/Index.html">
                        <img src="/assets/Twitter Rocket image.jpg" alt=" Link Index Page ">
                    </a>
                </li>

                <li>
                    <a class="sobre" href="About.html"> Sobre </a>
                </li>

                <li>
                    <a class="conteudos" href="Content.html"> Conteúdos </a>
                </li>

                <li>
                    <a class=" comunidade " href="https://discordapp.com/invite/gCRAFhc "> Comunidade </a>
                </li>

                <li>
                    <a class=" Email " href="mailto:oi@rocketseat.com.br "> Email </a>
                </li>

                <li>
                    <a class=" Telefone " href="tel:+5547992078767 "> Telefone </a>
                </li>
            </ul>
        </nav>

        <div class="social_Media_links">
            <a class=" twitter " href="https//twitter.com/rocketseat " target="_blink"> <img src="/assets/twitterRS.svg" alt=" "> </a>
            <a class=" instagram " href="https://www.instagram.com/rocketseat_oficial/" target="_blink"> <img src="/assets/instagramRS.svg" alt=""> </a>
            <a class=" youtube " href="https://www.youtube.com/rocketseat"> <img src="/assets/youtubeRS.svg" alt=""> </a>
        </div>
    </header>

    <div>
        <section class="cards">

            <div class="card" id="starter">

                <div class="card_image_container">
                    <img src="https://storage.googleapis.com/golden-wind/bootcamp-launchbase/assets/starter.svg" width="140px" alt=" Starter logo ">
                </div>

                <div class="card_info">
                    <p class="course_time"> 5 módulos</p>
                    <p class="card_price"> Grátis </p>
                </div>
            </div>

            <div class="card" id="launchbase">
                <div class="card_image_container" class="launchbase_image">
                    <img src="https://storage.googleapis.com/golden-wind/bootcamp-launchbase/assets/launchbase.svg" alt=" lauchbase logo ">
                </div>

                <div class="card_info" class="info_launchbase">
                    <p class="course_time"> 6 módulos</p>
                    <p class="card_price"> R$ 990,00 </p>
                </div>
            </div>

            <div class="card" id="gostack">
                <div class="card_image_container">
                    <img src="https://storage.googleapis.com/golden-wind/bootcamp-launchbase/assets/gostack.svg" width="160px" alt=" Gostack logo ">
                </div>

                <div class="card_info">
                    <p class="course_time"> 9 módulos</p>
                    <p class="card_price"> R$ 1880,00 </p>

                </div>
        </section>
        </div>

        <div class="modal_overlay">
            <div class="modal">
                <a class="close_modal">
                    <i class="material-icons"> close </i>
                </a>

                <a class="fullscreen">
                    <i class="material-icons"> fullscreen </i>
                </a>

                <div class="modal_content">
                    <iframe src="" frameborder="0"></iframe>
                </div>
            </div>
        </div>

        <script src="/scripts/Script.js"></script>

</body>